html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.header{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  .navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .languages{
    display: flex;
    font-size: 12px;
    &>div{
      margin-left: 5px;
      padding: 1px 10px ;
      background-color: beige;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}